
.multi {
    color: #046c58;
}

.footer {
    background: #fff;
}

.cont {
    text-align: center;
    margin-top: 80px;
}

.cont h3 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    line-height: 45px;
    color: #23262d;
    font-weight: bold;
    padding-bottom: 30px;
}

.cont span {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 30px 0px 30px 0px;
    display: inline-block;
    font-weight: bold;
}

.cont p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    padding: 0 130px;
    padding-bottom: 60px;
}

ul.social_icon {
    text-align: center;
}

ul.social_icon li {
    display: inline-block;
    margin: 0 3px;
}

ul.social_icon li a {
    background: #fff;
    box-shadow: #ddd 0px 0px 10px 0px;
    font-size: 22px;
    padding-top: 5px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #000000;
}

ul.social_icon li a:hover {
    background: #046c58;
    color: #fff;

}

.copyright {
    padding: 20px 0px;
    background: #046c58;
    margin-top: 50px;
    position: relative;
}


.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #000;
}


/** end footer **/

