.Testimonial {
    background-color: #1c423f;
    background-repeat: no-repeat;
   padding: 60px 0px;
    background-position: center;
    background-size: 100% 100%;
}
.Testimonial .titlepage {text-align: left; padding-bottom: 15px;}
.Testimonial .titlepage h2 {
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Testimonial .titlepage span {
    color: #fff;
}

.Testimonial_box i {
    border: #e6e1e1 solid 10px;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 210px;
    cursor: pointer;
    background: #6ad0bc;
    padding: 8px;
}

.Testimonial_box i::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: -16px;
    left: 34px;
    display: inline-block;
    border: #ddd solid 6px;
    border-radius: 30px;
    background: #6ad0bc;
}

.Testimonial_box {
    text-align: left;
}

.Testimonial_box h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
}

.Testimonial_box p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 25px 0 0px 0;
}
