.container {
    position: relative;
    
  }
.position_box {position:absolute; bottom: 0; padding: 0px 20px 20px 20px;}
.withi_color {color: #fff;}
.position_box p {color: #fff;} 
ul.withi_color li a {color: #fff;}
ul.withi_color {float: left; padding-left: 40px;}
